
main {
  flex: 1; // takes all remaining height after header
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

[data-role="map"] {
  flex: 1; // fills the remaining space inside <main>
  width: 100%;
}

[id^=GPsearchEngine-] {
  position: absolute;
  left: 50% !important;
  transform: translateX(-50%);
}

// Hide permalink control
.ol-permalink {
  display: none !important;
}

.ol-scale-line {
  right:auto
}