@use '@gouvfr/dsfr/src/module/media-query/mixin/respond-from' as r;

.position-container-top-left {
  .gpf-widget > .GPmapHandlePicto[aria-label]:hover::before {
    transform: translateX(-16px) translateY(40px);

    // Flèche vers le haut
    background-image: conic-gradient(
        from 146.31deg at 50% 0%,
        transparent 0deg,
        var(--background-overlap-grey) 0deg,
        var(--background-overlap-grey) 67.38deg,
        transparent 67.38deg
      ),
      conic-gradient(
        from 146.31deg at 50% 10%,
        transparent 0deg,
        var(--border-default-grey) 0deg,
        var(--border-default-grey) 67.38deg,
        transparent 67.38deg
      ),
      linear-gradient(to bottom, var(--border-default-grey), var(--border-default-grey)),
      linear-gradient(90deg, var(--background-overlap-grey), var(--background-overlap-grey));
    background-position:
      16px 0.125rem,
      16px 0,
      0 0.45rem,
      0 0.5rem;
    background-size:
      0.5rem 0.5rem,
      0.5rem 0.5rem,
      100% 1px,
      100%;
    background-repeat: no-repeat;
    padding-top: 1rem;
    padding-left: 0.5rem;
  }

  .GPmapHandle > .GPmapHandlePicto[aria-pressed='true']:hover::before {
    display: none;
  }

  .GPmapHandle:has(> .GPmapHandlePicto[aria-pressed='true'])::after {
    display: none;
  }

  .GPmapHandle > .gpf-panel {
    left: auto;
    top: 4px;
  }
}

.GPmapHandle > .gpf-panel {
  left: auto;
  top: 4px;
  min-width: 233px;
  max-width: 377px;

  @include r.respond-from(lg) {
    width: 377px;
  }

  .separator {
    padding: 7px 0;
  }

  hr {
    padding: 1px 0;
  }

  ul,
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .map-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    width: 100%;
    padding: 0.5rem 1rem;
    height: auto;
    min-height: auto;
  }
}
